-var avatar = ['']

mixin team-item(link, src, alt)
	li.team__item
		a.team__link(href=link)
			img.team__thumb(src=src, alt=alt)

mixin channel-item(link, name)
	li.channels__item #
		a.channels__link(href=link)= name

mixin chat-message(user, src, alt, time, text)
	.chat__message
		img.chat__thumb(src=src,alt=alt)
		.chat__textarea
			p.chat__status
				a.chat__username(href='#')= user
				span.chat__time= time
			p.chat__text= text

doctype
html(lang="en")
	head
		title Final Test - Slack Clone
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		
	body
		.container
			section.team
				// scroll down menu
				.team__wrapper
					ul.team__list
						// action clik active class
						+team-item('#', '#', 'Kalasan')
						+team-item('#', '#', 'Baciro')
						+team-item('#', '#', 'Elmo')
			section.channels
				// scroll down menu
				.channels__wrapper
					a
						// action team pop-up menu
						h3.channels__team-name Kalasan
						a.icon.icon_arrow-down
					p.channels__mini-team Klanjabrik

					ul.channels__list
						//- action clik active class
					ul.channels__list Channels
						a.icon.icon_plus-circle
						+channel-item('#', 'IOS') 
						+channel-item('#', 'HRD')
			// scroll down menu
			section.chat
				.chat__wrapper
					.chat__head
						h2.chat__channel-name #IOS
						a.icon.chat__icon(href="#")
							i.fa.fa-star  
						span |
						a.icon.chat__icon(href="#")
							i.fa.fa-user  48
						// action click pop-up men
						a#opt-chat-trigger.icon.chat__icon.chat__icon_lg.chat__icon_right(href="#")
							i.fa.fa-ellipsis-v
						#opt-chat-head.opt-overlay.opt-overlay_right.opt-overlay_show
							.opt-overlay__wrapper
								ul.opt-overlay__first
									li.opt-overlay__text
										a.opt-overlay__link(href="#") Your Files
									li.opt-overlay__text
										a.opt-overlay__link(href="#") All Files
								ul.opt-overlay__second
									li.opt-overlay__text
										a.opt-overlay__link(href="#") What's New?
					.chat__body
						.chat__area
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:13 AM', 'Hai apa kabar semua?')
							+chat-message('Bro', 'https://api.adorable.io/avatars/60/oke.png', '#', '11:13 AM', 'Baik Alhamdulillah')
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:15 AM', 'Lancar yah projectnya?')
							+chat-message('Bre', 'https://api.adorable.io/avatars/60/lancar.png', '#', '11:14 AM', 'Lancar jaya pak')
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:13 AM', 'Hai apa kabar semua?')
							+chat-message('Bro', 'https://api.adorable.io/avatars/60/oke.png', '#', '11:13 AM', 'Baik Alhamdulillah')
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:15 AM', 'Lancar yah projectnya?')
							+chat-message('Bre', 'https://api.adorable.io/avatars/60/lancar.png', '#', '11:14 AM', 'Lancar jaya pak')
					form.chat__form
						.chat__form-wrapper
							a#opt-input-trigger.chat__icon_plus(href="#")
								i.fa.fa-plus
							input.chat__input.chat__input_bottom(placeholder='Tulis Pesan')
					#opt-input-plus.opt-overlay.opt-overlay_bottom.opt-overlay_show
						.opt-overlay__wrapper
							ul.opt-overlay__first
								li.opt-overlay__text
									a.opt-overlay__link(href="#") Google Drive
								li.opt-overlay__text
									a.opt-overlay__link(href="#") Your Computer

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='css/chat/__icon/chat__icon.js')
