-var avatar = ['']

mixin team-item(link, src, alt)
	li.team__item
		a.team__link(href=link)
			img.team__thumb(src=src, alt=alt)

mixin channel-item(link, name)
	li.channels__item #
		a.channels__link(href=link)= name

mixin chat-message(src, alt, time, text)
	.chat__message
		img.chat__thumb(src=src,alt=alt)
		p.chat__time= time
		p.chat__text= text

doctype
html(lang="en")
	head
		title Final Test - Slack Clone
		link(rel='stylesheet' href='css/style.css')
	body
		.container
			section.team
				// scroll down menu
				.team__wrapper
					ul.team__list
						// action clik active class
						+team-item('#', '#', 'Kalasan')
						+team-item('#', '#', 'Baciro')
						+team-item('#', '#', 'Elmo')
			section.channels
				// scroll down menu
				.channels__wrapper
					a
						// action team pop-up menu
						h3.channels__team-name Kalasan
						a.icon.icon_arrow-down
					p.channels_mini-team Klanjabrik

					ul.channels__list Channels
						a.icon.icon_plus-circle
						// action clik active class
						+channel-item('#', 'IOS')
						+channel-item('#', 'HRD')
			// scroll down menu
			section.chat
				.chat__wrapper
					.chat__head
						h2.chat__channel-name
						a.icon.icon_star
						p |
						a.icon.icon_user 48
						// action click pop-up men
						a.icon.icon_option-vertical.icon_right
					.chat__body
						.chat__area
							+chat-message('#', '#', '11:13 AM', 'Hai apa kabar semua?')
							+chat-message('#', '#', '11:13 AM', 'Baik Alhamdulillah')
						input.chat__input.chat__input_bottom.icon.icon_plus(placeholder='tulis pesan')
