mixin team-item(link, src, alt)
	li.team__item
		a.team__link(href=link)
			img.team__thumb(src=src, alt=alt)

mixin channel-item(link, name)
	.channels__hover
		li.channels__item #
			a.channels__link(href=link)= name

mixin dropdown-team(link, src, alt)
	.dropdown__wrapper
		img.dropdown__thumb(src=src, alt=alt)
		.dropdown__user
			p Klanjabrik
			p.dropdown__name @klanjabrik

mixin dropdown-content(link, list)
		a(href=link class='dropdown_center')= list

mixin chat-message(user, src, alt, time, text)
	.chat__message
		img.chat__thumb(src=src,alt=alt)
		.chat__textarea
			p.chat__status
				a.chat__username(href='#')= user
				span.chat__time= time
			p.chat__text= text

doctype
html(lang="en")
	head
		title Final Test - Slack Clone
		link(rel='stylesheet' href='css/style.css')
		link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='css/dropdown/__id/dropdown__id.js')
	body
		.container
			section.team
				// scroll down menu
				.team__wrapper
					ul.team__list
						// action clik active class
						+team-item('#', 'https://api.adorable.io/avatars/72/team-icon', 'Kalasan')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon2', 'Baciro')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
						br
						+team-item('#', 'https://api.adorable.io/avatars/285/team-icon3', 'Elmo')
			section.channels
				// scroll down menu
				.channels__wrapper
					.dropdown
						#dropdown__id.dropdown__content
							+dropdown-team('#', 'https://api.adorable.io/avatars/72/team-icon', 'Kalasan')
							+dropdown-content('#','Profil & Account')
							+dropdown-content('#','Preferences')
							.dropdown_divider
							+dropdown-content('#','Preferences')
						// action team pop-up menu
						h2.channels__team-name.dropdown_list(
							onClick='myFunction()'
							class='dropdown__list'
							) Kalasan
							a.icon.icon_arrow-down
								i.fa.fa-caret-down
							p.channels__mini-team Klanjabrik

					ul.channels__list Channels (3)
						a.icon.icon_plus-circle(href='#')
							i.fa.fa-plus-circle
						// action clik active class
						+channel-item('#', 'IOS')
						+channel-item('#', 'HRD')
			// scroll down menu
			section.chat
				.chat__wrapper
					.chat__head
						h2.chat__channel-name #IOS
						a.icon.chat__icon(href="#")
							i.fa.fa-star  
						span |
						a.icon.chat__icon(href="#")
							i.fa.fa-user  48
						// action click pop-up men
						a#opt-chat-trigger.icon.chat__icon.chat__icon_lg.chat__icon_right(href="#")
							i.fa.fa-ellipsis-v
						#opt-chat-head.opt-overlay.opt-overlay_right.opt-overlay_show
							.opt-overlay__wrapper
								ul.opt-overlay__first
									li.opt-overlay__text
										a.opt-overlay__link(href="#") Your Files
									li.opt-overlay__text
										a.opt-overlay__link(href="#") All Files
								ul.opt-overlay__second
									li.opt-overlay__text
										a.opt-overlay__link(href="#") What's New?
					.chat__body
						.chat__area
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:13 AM', 'Hai apa kabar semua?')
							+chat-message('Bro', 'https://api.adorable.io/avatars/60/oke.png', '#', '11:13 AM', 'Baik Alhamdulillah')
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:15 AM', 'Lancar yah projectnya?')
							+chat-message('Bre', 'https://api.adorable.io/avatars/60/lancar.png', '#', '11:14 AM', 'Lancar jaya pak')
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:13 AM', 'Hai apa kabar semua?')
							+chat-message('Bro', 'https://api.adorable.io/avatars/60/oke.png', '#', '11:13 AM', 'Baik Alhamdulillah')
							+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:15 AM', 'Lancar yah projectnya?')
							+chat-message('Bre', 'https://api.adorable.io/avatars/60/lancar.png', '#', '11:14 AM', 'Lancar jaya pak')
					form.chat__form
						.chat__form-wrapper
							a#opt-input-trigger.chat__icon_plus(href="#")
								i.fa.fa-plus
							input.chat__input.chat__input_bottom(placeholder='Tulis Pesan')
					#opt-input-plus.opt-overlay.opt-overlay_bottom.opt-overlay_show
						.opt-overlay__wrapper
							ul.opt-overlay__first
								li.opt-overlay__text
									a.opt-overlay__link(href="#") Google Drive
								li.opt-overlay__text
									a.opt-overlay__link(href="#") Your Computer

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='css/chat/__icon/chat__icon.js')
